
body {
 /*background: linear-gradient(to right, #85D8CE, #085078);*/
 background-size: cover;
 background-image: url('kek.jpeg');
 width: 100%;
 height: 100%;
  background-position: fixed;
  
}


#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  
}

.calculator {
  width: 440px;
  padding: 40px;
  border-radius: 5px;
  margin: 100px auto;
  font-size: 16px;
  background-color: #333333;
  justify-items: center;
}

.input {
  width: 420px;
  height: 50px;
  border-radius: 0px;
  border: 1px solid black;
  background-color: #333333;
  color: #d9d9d9;
  padding: 0 5px 0 5px;
  margin: 0 0px 10px 0px;
  font-size: 30px;
}

.input:focus,
.input:active {
  border-color: #03a9f4;
  box-shadow: 0 0 4px #03A9F4;
  outline: none 0;
}

.button {
  margin: 3px;
  width: 63px;
  border: 1px solid #0d0d0d;
  height: 30px;
  border-radius: 4px;
  color: #d9d9d9;
  background-color: #1a1a1a;
  cursor: pointer;
  outline: none;
}

.mode {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.equal-sign {
  background-color: green;
  width: 133px;
}

.toggle-button {
  border: none;
  background-color: #333333;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.35);
}

p {
  margin-top: 0;
}

button::-moz-focus-inner {
  border-color: transparent;
}
#form-action{
  width: 100%;
  box-sizing: border-box;
  border-color: coral;
  position:fixed;
  left: 0;
  bottom: 0;
  background-color: rgb(248, 167, 5);
  display: flex;
  gap: 58%;
  font-size:100%;
  padding: 20px 30px;
  list-style: none;

}
/*.footer li{ 
color: chartreuse;
display: flex;
justify-items: normal;
}